<!DOCTYPE html>
<html ng-app="Formulario">
<head>
  <meta charset="UTF-8">
	<title>registro</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu|Graduate" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shorcut icon" type="image/x-icon" href="img/favicon-16x16.png">
  <link rel="stylesheet" type="text/css" href="estilos/min.css">
</head>
<body>
  
    <div class="contenido">
        <header>
          <h1 class="titulo"> <img src="img/navesita.png" alt="navesita"> SocialSearch</h1>
            <a href="LogIn.html">Regresar</a>
          </header>
      </div>

  <form class="formulario" for="form" name="formu" ng-model="formulario">

   <div class="contenedor" ng-controller="Controlador">

    <h2>Create una <span>Cuenta!</span></h2>

     <div class="main">

      <div class="registro">

        <input type="text" name="nombre" minlength="3" placeholder="Nombre" required ng-model="nombre.validar">
         <div ng-show="!nombre.validar && formu.$submitted" class="error">
          <p>Debe llenar este campo.</p>
         </div>
      </div>

      <div class="registro">
        <input type="text" name="apellido" minlength="4" placeholder="Apellido" required ng-model="apellido.validar">
        <div ng-show="!apellido.validar && formu.$submitted" class="error">
          <p>Debe llenar este campo.</p>
        </div>
      </div>
      <div class="registro">
        <input type="email" name="email" placeholder="Email" minlength="1" required ng-model="email.validar" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <div ng-show="!email.validar && formu.$submitted" class="error">
            <p>Debe colocar su email</p>
        </div>
        <div ng-show="formu.email.$error.pattern" class="error">
          <p>El formato de correo esta mal escrito.</p>
        </div>
      </div>
    <!--Validar Contraseña-->
      <div class="registro">
        <input type="password" name="password" minlength="3" placeholder="Contraseña" required ng-model="contrase.validar">    
        <div ng-show="!contrase.validar && formu.$submitted" class="error">
          <p>Debe llenar este campo.</p>
        </div>
      </div>
      <div class="registro">
        <input type="password" name="password1" placeholder="Confirme su Contraseña" required ng-model="confirmar">
        <div ng-show="!confirmar && formu.$submitted" class="error">
         <p>Debe llenar este campo.</p>
        </div>
        <div ng-if="confirmar">
          <div ng-if="confirmar != contrase.validar" class="error">
           <p>No coinciden</p>
          </div>
        </div>
      </div>
    <!--Validar Contraseña-->
      <div class="fecha registro">
        <input type="date" name="fecha"class="data" required ng-model="fecha">
        <div ng-show="!fecha && formu.$submitted" class="error">
          <p>LLene su fecha de nacimiento.</p>
        </div>
      </div>

        <div class="buton">
          <button type="submit"
                  ng-disabled="formu.$invalid"
                  class="boton">
            REGISTRAR
          </button>
        </div>

    </div>

  </div>
 
  <script src="Javascript/Datos.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script> 
      $(function(){
        
      });
  </script>
</form>
</body>
</html>