*{
 margin: 0;
 padding: 0;
}

body{
    background: rgba(231, 231, 231, 0.822);
    margin: 0;
    font-family: monospace;
}

.contenido {
    width:100%;
    background-color:#8D86C9;
}
  
.contenido header .titulo{
    margin: 10px 30px;
}
  
header {
    width:100%;
    color:white;
}

header div{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

header div h1{
    padding-left: 100px;
    font-family: 'Graduate', sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255)/*613DC1 00FFF5*/;
}
  
header div nav a{
   /* margin-right: 30px;*/
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    transition: all .5s ease;
    padding: 10px 10px;
}

header div nav .fa-cogs{
  padding: 10px 10px;
  transition: all .5s ease;
}

header div nav .fa-cogs:hover{
    border-radius: 50%;
    background-color: indigo; 
}

.contenido header input[type="text"]{
 padding: 3px 3px;
 font-size: 15px;
 border: 2px solid gainsboro;
}

header div nav a:nth-child(2):hover
,header div nav a:nth-child(1):hover{
  border-radius: 50%;
  background-color: indigo;
}

.container{
  width: 75%;
  margin-left: 150px;
  margin-top: 20px;
}

h1{
    color: #fff;
    text-align: center;
}
.centro{
 width: 100%;
    
}

section{
    width: 100%;
    text-align: center;
}

section ul li{
   display: inline-block;  
    margin: 10px 10px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #8D86C9;
    border-radius: 5%;
}

section ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    display: inline-block;
    text-transform: uppercase;
}

.galeria{
    display: none;
}

.galeria:target{
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galeria li{
    margin: 5px;
}

.galeria img{
    width: 150px;
    height: 100px;
}
/*multimedia*/
.multimedia li a img{
    width: 150px;
    height: 100px;
}
.multimedia li{
    list-style: none;
    margin: 10px 10px;
}
.multimedia{
    display: none;
}
.multimedia:target{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/*estilos al modal*/
.modal{
  display: none;  
}

.modal:target{
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3{
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2){
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}


.cerrar{
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

