/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: rgba(231, 231, 231, 0.822);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  font-family:'Ubuntu', sans-serif;
}

.contenido {
  width:100%;
  background-color:#8D86C9;
}

.contenido header .titulo{
  margin: 10px 30px;
}

header {
  width:100%;
  color:white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

header h1{
  margin-left: 30px;
  font-family: 'Graduate', sans-serif;
  font-size: 40px;
  color: rgb(255, 255, 255)/*613DC1 00FFF5*/;
}

header a{
  margin-right: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Ubuntu',sans-serif;
  transition: all .5s ease;
}

header a:hover{
  color:  rgb(255, 255, 255);
  font-size: 22px;
  /*border-bottom: 2px solid rgb(202, 241, 225);*/
  
  
}

.formulario{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.contenedor{
  width: 400px;
  background-color: #9BBDF9;
  margin: auto;
  padding: 10px 10px;
  opacity: 0.8;
  border-radius: 13px;
}

h2{
  margin-bottom: 14px;
  font-family:'Ubuntu', sans-serif;;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

p{
  width: 200px;
  background-color: rgba(189, 10, 10, 0.836);
  text-align: center;
  color:white;
  border-radius: 13px;
  font-size: 18px;
}

.error{
  text-align: center;
  margin-left: 90px;
}

h2 span{
  text-transform: uppercase;
  color: rgb(87, 17, 134);
  font-size: 1.4em;
}

.formulario .contenedor .main .registro{
  margin-bottom: 12px;

}

.formulario .contenedor .main .registro input{
  border: none;
  border-bottom: 3px solid rgb(109, 108, 108);
  background: transparent;
  color: #000000;
  opacity:10;
  width: 300px;
  outline: none;
  margin-bottom: 8px;
  font-size: 18px;
  font-family:'Ubuntu', sans-serif;
}

.formulario .contenedor .main .fecha .data{
    text-align: center;
    width: 160px;
    margin-bottom: 8px;
}

input{
  height: 40px;
}

.formulario .contenedor .main .buton button{
   width: 180px;
   height: 30px;
   background-color: #da78e717;
   color: rgb(8, 8, 8);
   font-size: 19px;
   font-weight: bold;
   border: 2px solid rgb(87, 17, 134);;
   font-family:'Ubuntu', sans-serif;
   text-transform: uppercase;
   transition: all .3s ease;
}

.formulario .contenedor .main .buton button:hover{
  background: #355691;
  border: 2px solid rgb(255, 254, 253); 
  color: white; 
  cursor: pointer;
}

.formulario .contenedor .main input:focus{
  border: none;
  border-bottom: 2px solid rgb(87, 17, 134);
  
}
