.formulario{
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.contenedor{
  width: 400px;
  background-color: grey;
  margin: auto;
  padding: 10px 10px;
  opacity: 0.8;
}

h2{
  margin-bottom: 14px;
  font-family: sans-serif;
  font-size: 1.2em;
  color: orange;
}

h2 span{
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4em;
}

.formulario .contenedor .main .registro{
  margin-bottom: 12px;

}

.formulario .contenedor .main .registro input{
  border: none;
  border-bottom: 1px solid orange;
  background: transparent;
  color: #fff;
  width: 300px;
  outline: none;
  margin-bottom: 8px;
  font-size: 18px;
}

input{
  height: 45px;
}
